# ===== Gradle =====
.gradle/
**/build/

# ===== Local config =====
local.properties

# ===== IDE (Android Studio / IntelliJ) =====
.idea/
*.iml

# ===== Native build =====
.externalNativeBuild/
.cxx/

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Keystore =====
*.jks
*.keystore

# ===== Android captures =====
captures/
